$darkBlue: #060047;
$fushia : rgb(179, 0, 95);
$salmon: #E90064;
$pink : #FF5F9E;
$lightSalmon: rgba(179, 0, 95, 0.2);
$white: rgb(255, 255, 255);
$black : rgb(0, 0, 0);
$montserrat: 'Montserrat', sans-serif;

// Responsive sizes

$small-screen : 476px;
$medium-screen: 768px;
$large-screen: 992px;

@mixin small-screen{
    @media(max-width: $small-screen){
        @content;
    }
}

@mixin medium-screen{
    @media(max-width: $medium-screen){
        @content;
    }
}

@mixin large-screen{
    @media(max-width: $large-screen){
        @content;
    }
}

@mixin flexCenter () {
    display: flex;
    align-items:center;
    justify-content: center;
}

@mixin button{
    @include small-screen{
        padding:5px;
    }
    padding:10px;
    background: rgb(43, 43, 43);
    border-radius: 5px;
    outline: none;

}